.wrap {

}

.join {
    width: 33%;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #ccc;
}

.join-header {
    text-align: center;
    background-color: #337AB7;
    color: white;
    height: 50px;
    border-radius: 9px 9px 0 0;
    line-height: 50px;
}

.join-main {

}

.join-main-header {
    text-align: center;
    margin: 30px 0 20px 0;
    color: #31708F;
    text-shadow: 3px 2px 1px #ccc;
}

.join-main-form {

}

.input {
    height: 16px;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
}

.input-group {
    padding: 10px;
}

.input-group-label {
    color: #777777;
    text-shadow: 3px 2px 1px #ccc;
    font-size: 18px;
    padding: 15px;
    display: inline-block;
    float: left;
    margin-left: 25px;
}

.input-group-input {
    display: inline-block;
    float: right;
    margin-right: 25px;
}

.join-help {
    text-align: center;
    font-size: 17px;
    background-color: #D9EDF7;
    color: #777777;
    padding: 25px;
    border-radius: 0 0 10px 10px;
}

.join-main-form-enter {
    text-align: center;
    background-color: #337AB7;
    color: white;
    height: 50px;
    width: 100%;
    line-height: 50px;
    cursor: pointer;
}